<!DOCTYPE html>
<html ng-app="kiwi">
<head>
<title>Kiwi Budget App</title>

<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="lib/css/xeditable.css">
<link rel="stylesheet" type="text/css" href="css/main.css">

<script type="text/javascript" src="lib/js/angular.min.js"></script>
<script type="text/javascript" src="lib/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/js/Sortable.min.js"></script>
<script type="text/javascript" src="lib/js/ng-sortable.js"></script>
<script type="text/javascript" src="lib/js/xeditable.min.js"></script>
<script type="text/javascript" src="lib/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<!-- kiwi app dependencies -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers/Account.js"></script>
<script type="text/javascript" src="js/controllers/Register.js"></script>
<script type="text/javascript" src="js/filters/date.js"></script>
<script type="text/javascript" src="js/filters/inflow.js"></script>
<script type="text/javascript" src="js/filters/outflow.js"></script>
<script type="text/javascript" src="js/filters/sortTransactions.js"></script>
<script type="text/javascript" src="js/factories/Category.js"></script>
<script type="text/javascript" src="js/factories/Payee.js"></script>
<script type="text/javascript" src="js/factories/Session.js"></script>
<script type="text/javascript" src="js/factories/Tag.js"></script>
<!-- end kiwi app dependencies -->
</head>
<body>
	<div class="container-fluid" style="background-color: #f0f0f0">
		<div class="row">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Kiwi</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Accounts<!--<span class="sr-only">(current)</span>--></a></li>
							<li><a href="#">Budget</a></li>
							<li><a href="#">Reports</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Entities <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Categories</a></li>
									<li><a href="#">Payees</a></li>
									<li><a href="#">Tags</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Goals</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
							</li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>

		</div>
		<div class="row">
			<div class="col-md-2" ng-controller="AccountController as accountCtrl">
				<ul class="nav nav-pills nav-stacked" ng-sortable="accountCtrl.tabConfig">
					<li role="selectedAccount" ng-repeat="account in accountCtrl.accounts" ng-class="{ active:accountCtrl.isActive(account.id) }"><a href ng-click="accountCtrl.setActiveAccount(account.id)">{{account.name}}</a></li>
				</ul>
			</div>
			<div class="col-md-10" ng-controller="RegisterController as registerCtrl">
				<table class="table table-striped">
					<thead>
						<th><a href ng-click="registerCtrl.setSortOrder('date')">Date<span class="glyphicon sort-order" ng-class="registerCtrl.getGlyphClass('date')"></span></a></th>
						<th><a href ng-click="registerCtrl.setSortOrder('payeeId')">Payee<span class="glyphicon sort-order" ng-class="registerCtrl.getGlyphClass('payeeId')"></span></a></th>
						<th><a href ng-click="registerCtrl.setSortOrder('categoryId')">Category<span class="glyphicon sort-order" ng-class="registerCtrl.getGlyphClass('categoryId')"></span></a></th>
						<th>Tags<span class="caret"></span></th>
						<th><a href ng-click="registerCtrl.setSortOrder('memo')">Memo<span class="glyphicon sort-order" ng-class="registerCtrl.getGlyphClass('memo')"></span><a/></th>
						<th><a href ng-click="registerCtrl.setSortOrder('amount')">Outgoing<span class="glyphicon sort-order" ng-class="registerCtrl.getGlyphClass('amount')"></span></a></th>
						<th><a href ng-click="registerCtrl.setSortOrder('amount')">Incoming<span class="glyphicon sort-order" ng-class="registerCtrl.getGlyphClass('amount')"></span></a></th>
						<th>Status<span class="caret"></span></th>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in registerCtrl.transactions | sortTransactions: registerCtrl.sortOrder" ng-show="registerCtrl.isActive(transaction.accountId)">
							<td class="col-md-1">{{transaction.date | date: 'MM/dd/yyyy'}}</td>
							<td class="col-md-2">{{registerCtrl.getPayee(transaction.payeeId).name}}</td>
							<td class="col-md-2">{{registerCtrl.getCategoryString(transaction.categoryId)}}</td>
							<td class="col-md-1"><span ng-repeat="tagId in transaction.tags" class="label label-success">{{registerCtrl.getTag(tagId).name}}</span></td>
							<td class="col-md-2">{{transaction.memo}}</td>
							<td class="col-md-1" style="text-align: right">{{transaction.amount | outflow}}</td>
							<td class="col-md-1" style="text-align: right">{{transaction.amount | inflow}}</td>
							<td class="col-md-1">{{transaction.status}}</td>
						</tr>
						<tr>
							<td editable-bsdate="registerCtrl.newTransaction.date" e-uib-datepicker-popup="dd-MMMM-yyyy">{{registerCtrl.newTransaction.date | date: 'MM/dd/yyyy'}}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>